.div1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 50px;


} .div1 li 
{
    
    float: left;  
}

.div1 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 
.div1 li a:hover {
    background-color: #111;
  }